{% macro sort_link(base_url, current_sort, current_dir, column, label, carry_params) %}
{% if current_sort == column and current_dir == 'desc' %}
{% set next_dir = 'asc' %}
{% else %}
{% set next_dir = 'desc' %}
{% endif %}
<a href="{{ base_url }}?sort={{ column }}&dir={{ next_dir }}{% for k, v in carry_params.items() if k not in ['sort', 'dir'] %}&{{ k }}={{ v }}{% endfor %}">{{ label }}{% if current_sort == column %}{% if current_dir == 'asc' %} &uarr;{% else %} &darr;{% endif %}{% endif %}</a>
{% endmacro %}

{% macro activity_context_query(list_type, carry_params) %}list={{ list_type }}{% for k, v in carry_params.items() %}&{{ k }}={{ v }}{% endfor %}{% endmacro %}
