{% extends "base.html" %}
{% set base_path = request.headers.get('X-Ingress-Path', '') %}
{% from "_pagination.html" import pagination_controls %}
{% from "_table_controls.html" import sort_link, activity_context_query %}
{% block title %}Matched Runs{% endblock %}
{% block content %}

<div class="row" style="justify-content: space-between;">
    <h2>All activities</h2>
    <a class="button" href="{{ base_path }}/manage">Import &amp; Sync</a>
</div>

{% set filter_form_action = base_path ~ "/" %}
{% include "_filters.html" %}

{{ pagination_controls(page, total_pages, total, page_size, page_size_options, base_path ~ "/", carry_params) }}

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>{{ sort_link(base_path ~ "/", sort, dir, "date", "Date", carry_params) }}</th>
            <th>{{ sort_link(base_path ~ "/", sort, dir, "name", "Name", carry_params) }}</th>
            <th>{{ sort_link(base_path ~ "/", sort, dir, "type", "Type", carry_params) }}</th>
            <th>{{ sort_link(base_path ~ "/", sort, dir, "distance", "Distance", carry_params) }}</th>
            <th>{{ sort_link(base_path ~ "/", sort, dir, "duration", "Duration", carry_params) }}</th>
            <th>{{ sort_link(base_path ~ "/", sort, dir, "pace", "Pace", carry_params) }}</th>
            <th>Matched route</th>
        </tr>
    </thead>
    <tbody>
    {% for a in activities %}
        <tr>
            <td>{% if a.start_time %}<span data-utc-date="{{ a.start_time.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ a.start_time.strftime("%Y-%m-%d") }}</span>{% else %}-{% endif %}</td>
            <td><a href="{{ base_path }}/activity/{{ a.id }}?{{ activity_context_query('activities', carry_params) }}">{{ a.name }}</a></td>
            <td>{{ a.activity_type }}</td>
            <td>{{ "%.2f"|format(a.distance_m / 1000) }} km</td>
            <td>{{ a.duration_s | hms }}</td>
            <td>{{ a | pace }}</td>
            <td>
                {% if a.group_id %}
                    <a href="{{ base_path }}/group/{{ a.group_id }}">{{ group_counts.get(a.group_id, 0) }} runs</a>
                {% else %}
                    <span class="muted">no match</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{{ pagination_controls(page, total_pages, total, page_size, page_size_options, base_path ~ "/", carry_params) }}

{% endblock %}
